<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itliutao.mapper.StudentMapper">
  <select id="list" resultType="com.itliutao.pojo.student">
    select s.*, c.name as master_name from student s left join clazz c on s.clazzId = c.master_id
    order by update_time desc
  </select>
    <select id="countStudentDegree" resultType="java.util.Map">
      select (case when degree = 1 then '初中'
                   when degree = 2 then '高中'
                   when degree = 3 then '大专'
                   when degree = 4 then '本科'
                   when degree = 5 then '硕士'
                   when degree = 6 then '博士'
                   else '其他' end
               ) as name,count(*) as value
      from student group by degree order by value
    </select>

  <select id="studentCountData" resultType="java.util.Map">
    select (case when clazzName = 1 then 'Java就业100期'
                 when clazzName = 2 then 'Java就业101期'
                 when clazzName = 3 then 'Java就业102期'
                 when clazzName = 4 then 'Java就业103期'
                 when clazzName = 5 then 'Java就业104期'
                 else 'Java就业105期'
              end
             ) as clazzList,count(*) as dataList
    from student group by clazzName order by dataList
  </select>
</mapper>